<a href="https://colab.research.google.com/github/pri538/ML-Projects/blob/main/ML_Jobs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/content/salaries.csv')
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,EN,FT,Data Analyst,75000,USD,75000,US,100,US,M
1,2023,EN,FT,Data Analyst,60000,USD,60000,US,100,US,M
2,2023,MI,FT,Analytics Engineer,185700,USD,185700,US,0,US,M
3,2023,MI,FT,Analytics Engineer,165000,USD,165000,US,0,US,M
4,2023,SE,FT,Data Engineer,160000,USD,160000,US,100,US,M

In [ ]:
df.describe()

         work_year        salary  salary_in_usd  remote_ratio
count  3006.000000  3.006000e+03    3006.000000   3006.000000
mean   2022.220892  1.977000e+05  134282.715569     49.118430
std       0.689191  7.474090e+05   62764.987716     48.488515
min    2020.000000  5.000000e+03    5000.000000      0.000000
25%    2022.000000  9.500000e+04   91427.750000      0.000000
50%    2022.000000  1.350000e+05  130000.000000     50.000000
75%    2023.000000  1.799938e+05  172339.500000    100.000000
max    2023.000000  3.040000e+07  450000.000000    100.000000

In [ ]:
df.isnull().sum()

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

In [ ]:
df['remote_ratio'].value_counts()

0      1440
100    1387
50      179
Name: remote_ratio, dtype: int64

In [ ]:
df['employment_type'] = df['employment_type'].map({
    'PT': 'Part-time',
    'FT': 'Full-time',
    'CT': 'Contract',
    'FL': 'Freelance'
})
df['experience_level'] = df['experience_level'].map({
    'EN': 'Junior',
    'MI': 'Intermediate',
    'SE': 'Expert',
    'EX': 'Director'
})

df['remote_ratio'] = df['remote_ratio'].map({
    0: 'WFO',
    50: 'Hybrid',
    100: 'WFH'
})
df['company_size'] = df['company_size'].map({
    'S': 'Startup',
    'M': 'Medium',
    'L': 'Big Enterprise'
})

df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,Junior,Full-time,Data Analyst,75000,USD,75000,US,WFH,US,Medium
1,2023,Junior,Full-time,Data Analyst,60000,USD,60000,US,WFH,US,Medium
2,2023,Intermediate,Full-time,Analytics Engineer,185700,USD,185700,US,WFO,US,Medium
3,2023,Intermediate,Full-time,Analytics Engineer,165000,USD,165000,US,WFO,US,Medium
4,2023,Expert,Full-time,Data Engineer,160000,USD,160000,US,WFH,US,Medium

Which Role Has Highest Salary employment wise

In [ ]:
highest_salary=df.groupby('job_title').max()['salary_in_usd'].sort_values(ascending=False)
highest_salary

job_title
Research Scientist                    450000
Data Analyst                          430967
Applied Machine Learning Scientist    423000
Principal Data Scientist              416000
Data Scientist                        412000
                                       ...
Principal Data Architect               38154
Data Engineering                       12000
Product Data Scientist                  8000
Power BI Developer                      5409
BI Data Engineer                        5000
Name: salary_in_usd, Length: 89, dtype: int64

In [ ]:
top5=highest_salary[:5]
bottom5=highest_salary[-5:]
print(top5,'\n\n',bottom5)

job_title
Research Scientist                    450000
Data Analyst                          430967
Applied Machine Learning Scientist    423000
Principal Data Scientist              416000
Data Scientist                        412000
Name: salary_in_usd, dtype: int64

 job_title
Principal Data Architect    38154
Data Engineering            12000
Product Data Scientist       8000
Power BI Developer           5409
BI Data Engineer             5000
Name: salary_in_usd, dtype: int64

Which Employment type do employers prefer to hire ?

In [ ]:
prefered_emp_type=df['employment_type'].value_counts()
prefered_emp_type

Full-time    2972
Part-time      17
Freelance       9
Contract        8
Name: employment_type, dtype: int64

Which Role and Employment Type are entry level candidates generally hired for?

In [ ]:
junior_level=df.loc[df['experience_level']=='Junior']

preferedRole =junior_level['job_title'].value_counts()
print(preferedRole)

preferedEmpTypeFresher=junior_level['employment_type'].value_counts()
print('\n\n', preferedEmpTypeFresher)

Data Scientist                        53
Data Analyst                          52
Data Engineer                         46
Machine Learning Engineer             18
AI Scientist                           7
Data Science Consultant                7
Research Scientist                     6
BI Data Analyst                        6
Business Data Analyst                  5
Machine Learning Developer             5
AI Developer                           4
Computer Vision Engineer               4
Big Data Engineer                      4
Research Engineer                      4
Machine Learning Research Engineer     3
Computer Vision Software Engineer      3
Applied Data Scientist                 3
Machine Learning Scientist             2
BI Analyst                             2
3D Computer Vision Researcher          2
Data Manager                           2
ML Engineer                            2
Data Analytics Engineer                2
Deep Learning Engineer                 2
BI Developer                           2
Data Analytics Consultant              1
Product Data Analyst                   1
AI Programmer                          1
Marketing Data Engineer                1
Power BI Developer                     1
Data Specialist                        1
Analytics Engineer                     1
Applied Machine Learning Scientist     1
Financial Data Analyst                 1
Machine Learning Software Engineer     1
Name: job_title, dtype: int64


 Full-time    238
Part-time     14
Freelance      2
Contract       2
Name: employment_type, dtype: int64

WFO VS WFH

In [ ]:
df['remote_ratio'].value_counts()

WFO       1440
WFH       1387
Hybrid     179
Name: remote_ratio, dtype: int64

Which country pay the highest for which roles?

In [ ]:
for role in top5.index:
  print(role,end=':')
  temp=df.loc[df['job_title']==role]['salary_in_usd'].idxmax()
  topcountry,sal=df.iloc[temp]['company_location'], df.iloc[temp]['salary_in_usd']
  print(topcountry,'$',sal)
  print()

Research Scientist:US $ 450000

Data Analyst:GB $ 430967

Applied Machine Learning Scientist:US $ 423000

Principal Data Scientist:US $ 416000

Data Scientist:US $ 412000

Employee Demographic

In [ ]:
empDemographics = df['employee_residence'].value_counts()
empDemographics[:10]

US    2347
GB     145
ES      70
CA      64
IN      63
DE      44
FR      37
BR      18
PT      17
GR      16
Name: employee_residence, dtype: int64

Which experience level has the highest hiring?

In [ ]:
highesthiringonexp=df['experience_level'].value_counts()
highesthiringonexp

Expert          1988
Intermediate     679
Junior           256
Director          83
Name: experience_level, dtype: int64

Does company size affect the payscale?

In [ ]:
table=pd.pivot_table(df,values='salary_in_usd',index=['company_size'],
                     columns=['experience_level'], aggfunc=np.mean).round(2)

table

experience_level   Director     Expert  Intermediate    Junior
company_size
Big Enterprise    165363.15  149222.42      90367.74  62808.39
Medium            202920.27  151543.60     109380.48  85197.79
Startup           196827.17  105439.02      59122.85  60285.04

YoY salary grouwth at different experience level

In [ ]:
data2020=df.loc[df['work_year']==2020]
data2021=df.loc[df['work_year']==2021]
data2022=df.loc[df['work_year']==2022]
data2023=df.loc[df['work_year']==2023]

for level in df.experience_level.unique():
    print(level)
    avg2020 = data2020.groupby('experience_level').mean().loc[level, 'salary_in_usd']
    avg2021 = data2021.groupby('experience_level').mean().loc[level, 'salary_in_usd']
    avg2022 = data2022.groupby('experience_level').mean().loc[level, 'salary_in_usd']
    avg2023 = data2023.groupby('experience_level').mean().loc[level, 'salary_in_usd']

    yoy20_21 = ((avg2021 - avg2020) / avg2020) * 100
    print('YoY Growth for 2020-2021: ', round(yoy20_21, 2))

    yoy21_22 = ((avg2022 - avg2021) / avg2021) * 100
    print('YoY Growth for 2021-2022: ', round(yoy21_22, 2))

    yoy22_23 = ((avg2023 - avg2022) / avg2022) * 100
    print('YoY Growth for 2021-2022: ', round(yoy22_23, 2))

    print()

Junior
YoY Growth for 2020-2021:  -4.53
YoY Growth for 2021-2022:  37.46
YoY Growth for 2021-2022:  22.83

Intermediate
YoY Growth for 2020-2021:  -6.22
YoY Growth for 2021-2022:  23.73
YoY Growth for 2021-2022:  14.07

Expert
YoY Growth for 2020-2021:  -8.13
YoY Growth for 2021-2022:  16.95
YoY Growth for 2021-2022:  6.8

Director
YoY Growth for 2020-2021:  -8.05
YoY Growth for 2021-2022:  1.15
YoY Growth for 2021-2022:  12.13

<ipython-input-20-356ae93de073>:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg2020 = data2020.groupby('experience_level').mean().loc[level, 'salary_in_usd']
<ipython-input-20-356ae93de073>:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg2021 = data2021.groupby('experience_level').mean().loc[level, 'salary_in_usd']
<ipython-input-20-356ae93de073>:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg2022 = data2022.groupby('experience_level').mean().loc[level, 'salary_in_usd']
<ipython-input-20-356ae93de073>:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg2023 = data2023.groupby('experience_level').mean().loc[level, 'salary_in_usd']
<ipython-input-20-356ae93de073>:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg2020 = data2020.groupby('experience_level').mean().loc[level, 'salary_in_usd']
<ipython-input-20-356ae93de073>:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg2021 = data2021.groupby('experience_level').mean().loc[level, 'salary_in_usd']
<ipython-input-20-356ae93de073>:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg2022 = data2022.groupby('experience_level').mean().loc[level, 'salary_in_usd']
<ipython-input-20-356ae93de073>:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg2023 = data2023.groupby('experience_level').mean().loc[level, 'salary_in_usd']
<ipython-input-20-356ae93de073>:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg2020 = data2020.groupby('experience_level').mean().loc[level, 'salary_in_usd']
<ipython-input-20-356ae93de073>:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg2021 = data2021.groupby('experience_level').mean().loc[level, 'salary_in_usd']
<ipython-input-20-356ae93de073>:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg2022 = data2022.groupby('experience_level').mean().loc[level, 'salary_in_usd']
<ipython-input-20-356ae93de073>:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg2023 = data2023.groupby('experience_level').mean().loc[level, 'salary_in_usd']
<ipython-input-20-356ae93de073>:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg2020 = data2020.groupby('experience_level').mean().loc[level, 'salary_in_usd']
<ipython-input-20-356ae93de073>:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg2021 = data2021.groupby('experience_level').mean().loc[level, 'salary_in_usd']
<ipython-input-20-356ae93de073>:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg2022 = data2022.groupby('experience_level').mean().loc[level, 'salary_in_usd']
<ipython-input-20-356ae93de073>:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg2023 = data2023.groupby('experience_level').mean().loc[level, 'salary_in_usd']